<%- include('./includes/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="#">HOME</a></li>
        <li><a style="float:left" href="/logout">LOGOUT</a></li>
    </ul>

    <h3 style="text-align: center;">Bem vindo: <%= email %></h3>
<%- include('./includes/footer.ejs') %>