<%- include('./includes/head.ejs') %>
    <title>Document</title> 
</head>

<body>
    <div class="principal">
        <br>
        <h1>Password Recover</h1>
        <%- include('includes/messages') %>
        <form action="/recover-index-code/recover-code/recover-account-index/recover" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div>
                <input type="password" placeholder="Nova senha" name="newPassword" required>
            </div>
            <div>
                <input type="password" placeholder="Repetir Nova Senha" name="newPassword2" required>
            </div>
            <br>
            <button type="submit">Recuperar</button>
        </form>
    </div>

<%- include('./includes/footer.ejs') %>